In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import pyreadstat

sns.set_theme()

In [2]:
df, meta = pyreadstat.read_sav("../data/dataset.sav", encoding="LATIN1")
df

,REG,PRO,MIL,MEN.PRO,NOR.MEN,LIEN.CM,NATIO,SEXE,AGE1,AGE5,...,LANG.LOC2,TY.ACT,PROF.SGG,PROF.GG,STAT.PROF,ACT.SECTION,ACT.SECTEUR,TRAV.LIEU,TRAV.TRANS,PDS
0,1.0,51.0,1.0,1.0,1.0,0.0,1.0,1.0,NaN,45.0,...,NaN,2.0,33.0,3.0,5.0,9.0,7.0,NaN,NaN,9.999995
1,1.0,51.0,1.0,1.0,2.0,4.0,1.0,2.0,NaN,60.0,...,4.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.999995
2,1.0,51.0,2.0,2.0,1.0,0.0,1.0,1.0,17.0,15.0,...,NaN,0.0,62.0,6.0,5.0,3.0,2.0,1.0,0.0,9.999995
3,1.0,51.0,2.0,2.0,2.0,9.0,1.0,1.0,20.0,20.0,...,NaN,0.0,92.0,9.0,3.0,3.0,2.0,2.0,0.0,9.999995
4,1.0,51.0,2.0,2.0,3.0,9.0,1.0,1.0,22.0,20.0,...,NaN,0.0,62.0,6.0,5.0,3.0,2.0,NaN,NaN,9.999995
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3341421,NaN,NaN,1.0,561.0,10.0,6.0,1.0,2.0,21.0,20.0,...,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.999995
3341422,NaN,NaN,1.0,561.0,11.0,3.0,1.0,2.0,0.0,0.0,...,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.999995
3341423,NaN,NaN,1.0,561.0,12.0,2.0,1.0,1.0,NaN,30.0,...,NaN,0.0,73.0,7.0,5.0,1.0,1.0,2.0,4.0,9.999995
3341424,NaN,NaN,1.0,561.0,13.0,6.0,1.0,2.0,22.0,20.0,...,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.999995
3341425,NaN,NaN,1.0,561.0,14.0,3.0,1.0,2.0,1.0,0.0,...,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.999995

In [ ]:
# Fix encoding
#meta.variable_value_labels = {k: {v.encode("LATIN1").decode("UTF-8"): k for k, v in meta.value_labels[k].items()} for k in meta.value_labels.keys()}
meta.value_labels = {k: {v.encode("LATIN1").decode("UTF-8"): k for k, v in meta.value_labels[k].items()} for k in meta.value_labels.keys()}
#meta.column_labels = {k: v.encode("LATIN1").decode("UTF-8") for k, v in meta.column_labels.items()}
#meta.column_names_to_labels = {k: v.encode("LATIN1").decode("UTF-8") for k, v in meta.column_names_to_labels.items()}

In [ ]:
_df = df.dropna(subset=["REG", "PRO", "LANG1"]) # filter out missing values for region, province, or language

In [ ]:
_df = _df.loc[_df["NATIO"] == 1] # filter out non-Moroccans
_df = _df.loc[_df["AGE1"] >= 18] # filter out minors
_df = _df.loc[_df["HANDI.VIS"] <= 2] # filter out visual disability
_df = _df.loc[_df["HANDI.AUD"] <= 2] # filter out auditory disability
_df = _df.loc[_df["HANDI.MEM"] <= 2] # filter out memory disability
_df = _df.loc[_df["HANDI.COM"] <= 2] # filter out communication disability
_df = _df.loc[_df["LIR.ECR"] <= 2] # filter out unknown literacy

In [ ]:
_df

In [ ]:
sns.catplot(data=_df.loc[_df["LANG1"] > 1], x="REG", hue="LANG1", kind="count")
plt.show()

In [ ]:
df_out = pyreadstat.set_value_labels(_df, meta)
#df_out.to_csv("../dataset.csv", index=False)
df_out

In [36]:
df_out = df.copy()

if meta.value_labels and meta.variable_to_label:
    for var_name, label_name in meta.variable_to_label.items():
        labels = meta.value_labels.get(label_name)
        if labels:
            if var_name in df_out.columns:
                df_out[var_name] = df_out[var_name].apply(lambda x: labels.get(x, x))
                
df_out

:

: